<!DOCTYPE html>
<html>
<head>
      <!-- The core Firebase JS SDK is always required and must be listed first -->
      <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
      <!-- TODO: Add SDKs for Firebase products that you want to use
          https://firebase.google.com/docs/web/setup#available-libraries -->
      <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>
      <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
          apiKey: "AIzaSyDNIX4HvhcZfG-6jBZAVtjp_f8H3nKhhmc",
          authDomain: "my-second-lab-254515.firebaseapp.com",
          databaseURL: "https://my-second-lab-254515.firebaseio.com",
          projectId: "my-second-lab-254515",
          storageBucket: "my-second-lab-254515.appspot.com",
          messagingSenderId: "523114286882",
          appId: "1:523114286882:web:c9bd7609115e6bef579f7b",
          measurementId: "G-E67CTZCMBC"
      };
      //Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
  
      function newCategory() {
      window.location.href = "/createCategory";
      };
  
       </script>
      <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.js"></script>
      <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.css" />
      
    {% block head %}
    {% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}?{{now}}">

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- icon style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Explorexas - Explore Outdoor Activities in Texas!</title>
    <style>
        .site-header{
            background-color:white;
        }
        #btnPost{
          background-color: #cbd5db;
        }
    </style>
    <script>
    function manualSignout(){
      firebase.auth().signOut().then(function() {
        document.cookie = "token= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
        document.location.reload();
      });
    }
    </script>
</head>
<body>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/welcomePage">
              <img src="https://cdn.bleacherreport.net/images/team_logos/328x328/texas_longhorns_football.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Explorexas
          </a>
          <div id="navbarToggle">
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <form action="{{ url_for('searchTag', ptn="srch")}}" method="post" enctype="multipart/form-data" class="form-inline">
                  <div class="input-group" style="margin-right: 40px">
                    <input type="text" class="form-control mr-sm-2" name="searchTag" id="searchTag" placeholder="Search Tag" aria-label="Search Tag">
                    <div class="input-group-append">
                      <button class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </form>
<!--              <form action="{{ url_for('searchTag', ptn="1") }}" method="post" enctype="multipart/form-data">-->
<!--                <input type="text" name="searchTag" id="searchTag" placeholder="Search reports">-->
<!--                <input type="submit" value="Search" id="btnPost">-->
<!--              </form>-->
              {% if user_data %}
                <a id="login-info" href="/profile">{{user_data['email']}}</a>
                <button class="btn btn-outline-light" style="margin-left: 40px" type="submit" onclick="manualSignout()">Sign Out</button>
              {% else %}
              <a class="nav-item nav-link" id="login" href="/login"><button class="btn btn-outline-light" style="margin-left: 40px">Login</button></a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!--main role="main" class="container">
      <div class="row">
        <div class="col-md-8"-->
    <div class="row">
    <div class="col left_nav">
        <ul>
            <li><a class="nav-item nav-link" href="/welcomePage">Welcome</a></li>
            <hr>
            <li><a class="nav-item nav-link" href="/">View Categories</a></li>
            <hr>
            <li><a class="nav-item nav-link" href="/createCategory">Create a Category</a></li>
            <hr>
            <li><a class="nav-item nav-link" href="/createReport">Create a Report</a></li>
        </ul>
    </div>
    <div class="col right-body">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
  </div>
        <!--/div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Function Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Categories</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>