{% extends 'base.html' %}

    {% block head %}
    <title>Create a new report - Explorexas</title>
    <style>
        .custom-file-input input{
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }
        #media-container{
            width: 100%;
        }
        .custom-file-input:hover{
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    </style>
    
    <script>
            function changepic(obj) {
            //console.log(obj.files[0]);//这里可以获取上传文件的name
            var newsrc=getObjectURL(obj.files[0]);
            document.getElementById('show').src=newsrc;
            document.getElementById('srcURL').value=newsrc;
    
            }
            function getObjectURL(file) {
                var url = null ;
                if (window.createObjectURL!=undefined) { // basic
                    url = window.createObjectURL(file) ;
                } else if (window.URL!=undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file) ;
                } else if (window.webkitURL!=undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file) ;
                }
                return url ;
            }
            function getLocationConstant() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
                } else {
                    alert("Your browser or device doesn't support Geolocation");
                }
            }
    
            // If have a successful location update
            function onGeoSuccess(event) {
                document.getElementById("latitude").value = event.coords.latitude;
                document.getElementById("longitude").value = event.coords.longitude;
                // document.getElementById("coordinates").value = event.coords.latitude + ", " + event.coords.longitude;
    
            }
    
            // If something has gone wrong with the geolocation request
            function onGeoError(event) {
                alert("Error code " + event.code + ". " + event.message);
            }
        </script>
    {% endblock %}

{% block content %}
    <div class="center-in-center">
        <h1 style="font-size:40px;color:white"> New Report </h1>
          <form action="{{ url_for('create_report') }}" method="post" enctype="multipart/form-data">
            <div class="input-group mb-4 mt-5">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="title">Title</label>
                </div>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
            </div>
            <div class="form-row mb-4">
              <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="placeName">Place</label>
                </div>
                <input type="text" class="form-control" id="placeName" name="placeName" placeholder="Place Name">
              </div>
              <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="categoryName">Category</label>
                </div>
                <select class="custom-select" id="categoryName" name="categoryName">
                  {% for cat in catList %}
                    <option value={{cat["catName"]}}>{{cat["catName"]}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="review">Review</label>
                </div>
                <textarea class="form-control" id="review" name="review" rows="6" placeholder="Description"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6 col-lg-4">
                    <div class="form-row">
                        <div class="form-group col-9" style="padding-right:0">
                            <label>Coordinates</label>                          
                            <!-- <fieldset disabled>  -->
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Lat.&nbsp</span>
                              </div>
                              <input type="text" class="form-control" id="latitude" name="latitude" >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" >Lng.</span>
                                </div>
                                <input type="text" class="form-control" id= "longitude" name="longitude" >
                            </div>
                            <!-- </fieldset> -->
                        </div>
                        <div class="input-group col-3" style="padding-left:0">
                            <div class="input-group">
                                <button type="button" class="btn btn-light" style="margin-top: 23px;margin-bottom: 16px;padding: 0 20px" onclick="getLocationConstant()">
                                    <i class="fa fa-map-marker" style="font-size:42px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-md-6 col-lg-4">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="rating">Rating</label>
                        </div>
                        <select class="custom-select" id="rating" name="rating">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Tag&nbsp&nbsp&nbsp&nbsp</span>
                        </div>
                        <input type="text" class="form-control" id= "tagName" name="tagName">
                    </div>         
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file" onchange="changepic(this)" accept="image/png, image/jpeg, image/jpg">
                            <label class="custom-file-label" style="padding-right:100px" for="custom-file">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-md-12 col-lg-4">
                    <div id="media-container">
                        <img src="" id="show" name="show" width="300" style="width:100%">
                        <input type="text" id="srcURL" name="srcURL" hidden="true">
                    </div>
                </div>
            </div>
              <br>
              <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">Create Report!</button>
        </form>
    </div>
    
{% endblock %}
