{% extends 'base.html' %}

    {% block head %}
    <title>Create a new report - Explorexas</title>
    <style>
        .center-in-center{
/* <!--            position: absolute;-->
<!--            display: table-cell;-->
<!--            vertical-align: middle;-->
<!--            text-align: center;-->
<!--            top: 30%;-->
<!--            left: 35%;--> */

            background: #cc5500;
            color: #FFFFFF;
            margin: 0 auto;
            width: 90%;
            opacity:1;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            text-decoration: none;
            text-indent: 0;
            line-height: 15px;
        }
        /* .inputfile {
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 15px;
        } */
        .custom-file-input input{
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }
        .custom-file-input:hover{
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    </style>
    <script>
        function changepic(obj) {
        //console.log(obj.files[0]);//这里可以获取上传文件的name
        var newsrc=getObjectURL(obj.files[0]);
        document.getElementById('show').src=newsrc;
        document.getElementById('srcURL').value=newsrc;

        }
        function getObjectURL(file) {
            var url = null ;
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            return url ;
        }
        function getLocationConstant() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
            } else {
                alert("Your browser or device doesn't support Geolocation");
            }
        }

        // If have a successful location update
        function onGeoSuccess(event) {
            // document.getElementById("Latitude").value = event.coords.latitude;
            // document.getElementById("Longitude").value = event.coords.longitude;
            document.getElementById("coordinates").value = event.coords.latitude + ", " + event.coords.longitude;

        }

        // If something has gone wrong with the geolocation request
        function onGeoError(event) {
            alert("Error code " + event.code + ". " + event.message);
        }
    </script>
    {% endblock %}

{% block content %}
    <div class="center-in-center">
        <h1 style="font-size:40px;color:white"> New Report </h1>
          <form action="{{ url_for('create_report') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="placeName">PlaceName</label>
                <input type="text" class="form-control" id="placeName" name="placeName" placeholder="Place Name">
              </div>
              <div class="form-group col-md-6">
                <label for="tagId">CategoryId</label>
                <input type="text" class="form-control" id= "categoryId" name="categoryId">
              </div>
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea class="form-control" id="review" name="review" rows="6" placeholder="Description"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Rating</label>
                            <select id="rating" name="rating" class="form-control">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <label for="tagId">tagId</label>
                            <input type="text" class="form-control" id= "tagId" name="tagId">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="tagId">Coordinates</label>
                            <input type="text" class="form-control" id= "coordinates" name="coordinates" >
                            <input type="button" value="Get Location" onclick="getLocationConstant()" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="custom-file">
                        <label for="file">Upload Image</label>
                        <input type="file" class="custom-file-input" name="file" id="file" onchange="changepic(this)" accept="image/png, image/jpeg, image/jpg">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <img src="" id="show" name="show" width="200">
                        <input type="text" id="srcURL" name="srcURL" hidden="true">
                    </div>
                </div>
            </div>
              <br>
              <input type="submit" value="Submit" id="btnPost" style="width:90px;"/>
        </form>
    </div>
{% endblock %}
