{% extends "base.html" %}

    {% block head%}
    {% endblock %}


    
        <div>
            {% block header %}
            <div class="header" align="left" style="float:left">Categories</div>
            <div align="right"> <input type="button" onclick="newCategory()" value="+ New Category" class="btn btn-info btn-sm"/></div>
            <hr/>
            {% endblock %}

            {% block content %}
            <ul class="categories card-deck">
            {% for cat in categories %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 1.5rem">
                            <img src="/images/{{cat["imageId"]}}" class="card-img-top" alt="thumbnail">
                            <div class="card-body">
                                <h5 class="card-title">{{cat["catName"]}}</h5>
                                <p class="card-text">{{cat["catDescription"]}}</p>
                                <a href="{{ url_for('viewCategoryPost', catId = cat['cat_id']) }}" class="btn btn-primary">View reports</a>
                            </div>
                            </div>
                </li>
            {% endfor %}
            </ul>
            {% endblock %}
        </div>


