{% extends 'base.html' %}

    {% block head %}    
    {% endblock %}

    <div>
            {% block header %}
            <div class="header">My Reports</div>
            <hr/>
            {% endblock %}

            {% block content %}
                {% for report in reports %}

                <div class="card mb-3">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <img src="{{url_for('image', imgId=report['imgId'])}}" class="card-img" alt="image">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                    <a style="display:block; float:right;" href="/profile?delete={{report['reportId']}}" onclick="if (!window.confirm('Are you sure you wish to delete this report?')) return false;">Delete</a>
                              <h5 class="card-title">{{report["title"]}}</h5>
                              <p class="card-text">{{report["review"]}}</p>
                              <p class="card-text"><small class="text-muted">{{report["placeName"]}}</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            {% endblock %}
    </div>