{% extends 'base.html' %}

    {% block head %}
    <title>Show report - Explorexas</title>
    <style>
        .center-in-center{
            color: black;
            background: #FFFFFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            margin: 0 auto;
            width: 80%;
            line-height: 15px;
        }
        .report-container{
            margin: 50px 10px;
        }

    </style>

    {% endblock %}

{% block content %}
    <div class="center-in-center">
        <h2>Place: {{ report["placeName"] }}</h2>
        <div class="report-container">
            <div class="row">
                <div class="col-4">
                    <img src="{{url_for('image', imgId=imgId)}}" alt={{report["imgId"]}} style="height:180px;width:200px">
                </div>
                <div class="col-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">userId: {{ report["userId"] }}</li>
                        <li class="list-group-item">categoryId: {{ report["categoryId"] }}</li>
                        <li class="list-group-item">review: {{ report["review"] }}</li>
                        <li class="list-group-item">rating: {{ report["rating"] }}</li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}
