{% extends 'base.html' %}

    {% block head %}
    <title>Show report - Explorexas</title>
    <style>
        .report-container{
            margin: 30px 10px;
        }
        .report-title{
            margin: 0 0 10px;
        }
        .report-title-user{
            margin: 5px 0 10px;
            display: inline-flex;
        }
        .report-item{
            padding: 5px 5px;
            margin: 0 5px 40px;
            text-align: left;
        }
        .media-container{
            width: 100%;
            margin-bottom: 10px;
            padding-top: 0;
        }
        #tag-container{
            margin-top: 10px;
        }
        #report-time{
            margin: 20px auto 10px;
            text-align: right;
            font-style: italic;
            font-size: 12px;
        }
        #map{
            height: 400px;
            color: black;
        }
    </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% endblock %}

{% block content %}
    <div class="center-in-center">
        <div class="container-fluid report-container">
            <div class="report-title"><h2>{{report["title"]}}</h2></div>   
            <div class="row">
                <div class="report-title-user col-8">
                    <i class="fa fa-user-circle" style="display: inline"></i>
                    &nbsp&nbsp&nbsp&nbsp
                    <div id="user-name">None</div>
                </div>  
                <div class='col-4' >
                    <button type="button" onclick="makeRequest()" id="follow-btn" class="btn btn-primary btn-md" style="float: right;">Follow</button>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 40px">
                <div class="col-12 col-md-6"> 
                    <div class="report-item media-container"> 
                        <img src="{{url_for('image', imgId=imgId)}}" style="width:100%">
                    </div>
                    <div class="report-item" id="tag-container">
                        <span class="badge badge-pill badge-primary"># {{report["tagId"]}}</span>
                    </div>
                    <div class="report-item">
                        Rating:
                        <span class="fa fa-star" id="star0"></span>
                        <span class="fa fa-star" id="star1"></span>
                        <span class="fa fa-star" id="star2"></span>
                        <span class="fa fa-star" id="star3"></span>
                        <span class="fa fa-star" id="star4"></span>
                    </div>  
                    <div class="report-item">
                        Category: {{report["categoryId"]}}
                    </div>  
                    <div class="report-item">
                        Review: {{report["review"]}}
                    </div> 
                </div>
                <div class="col-12 col-md-6">
                    <div class="media-container">
                        <div id="map"></div>
                    </div>           
                </div>
            </div> 
            <div class="report-footer">
                <div class="report-item" id="report-time">
                    Report created at {{report["timeStamp"]}}
                </div> 
            </div>
        </div>
    </div>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_ZuUcbBYwIb8zilv_yRq89ZU1iNiuBC4&callback=initMap">
    </script>
    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        console.log({{categoryName}});
        // console.log({{report["userId"]}});
        // show user name
        var userEmail = "{{report["userId"]}}";
        userName = userEmail.split('@')[0];
        document.getElementById('user-name').innerText = userName;
 
        // show subscription option
        var followList = "{{subscriptions}}";
        console.log(followList)
        if(followList.includes(userEmail)){
            btn = document.getElementById('follow-btn');
            btn.innerText = "Unfollow";
            btn.classList.add('btn-secondary');
            btn.classList.remove('btn-primary');
        };

        // document.getElementById("follow-btn").addEventListener('click', makeRequest);
        function makeRequest() {
            try {
                var userId = "{{user_data['email']}}";
                console.log(userId)
                if(!userId){
                    alert("Please Log in first");
                    return
                }
            } catch (error) {
                alert("Please Log in first");
                return
            }
            var follow_btn = document.getElementById('follow-btn');
            var authorId = "{{report["userId"]}}";
            var urlHead = "http://apt-team7.appspot.com/mobile/";
            console.log(authorId)
            if(follow_btn.innerText == "Follow"){
                console.log("ajax request in")
                let url = urlHead + "subscribe/" + userId + "/" + authorId;
                console.log(url)
                axios.get(url)
                    .then((response) => {
                        console.log(response.data);
                        console.log(response.status);
                        console.log(response.statusText);
                        console.log(response.headers);
                        console.log(response.config);
                        if(response.status == 200){
                            follow_btn.innerText = "Unfollow";
                            follow_btn.classList.add('btn-secondary');
                            follow_btn.classList.remove('btn-primary');
                        }
                    });
                return
            }else{
                console.log("ajax request inin")
                let url = urlHead + "unsubscribe/" + userId + "/" + authorId;
                console.log(url)
                axios.get(url)
                    .then((response) => {
                        console.log(response.data);
                        console.log(response.status);
                        console.log(response.statusText);
                        console.log(response.headers);
                        console.log(response.config);
                        if(response.status == 200){
                            follow_btn.innerText = "Follow";
                            follow_btn.classList.remove('btn-secondary');
                            follow_btn.classList.add('btn-primary');
                        }
                    });
                return
            }
        }

        function alertContents() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                alert(xhr.responseText);
            } else {
                alert('There was a problem with the request.');
            }
            }
        }

        // show rating
        var rating = parseInt("{{report["rating"]}}");
        console.log(rating);
        var i
        for(i = 0; i < rating; i++){
            let star = document.getElementById("star" + i.toString());
            star.style.color = "gold"
        }

        // parse time
        let timeStamp = "{{report["timeStamp"]}}".split('.');
        let date = timeStamp[0].split(' ')
        console.log(date)
        let time = document.getElementById("report-time")
        time.innerText = 'Created at ' + date[1] + ' on ' + date[0];

        // show map
        var map, infoWindow;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.6585928, lng: 139.7432474},
            zoom: 15
          });
          infoWindow = new google.maps.InfoWindow;
  
          // Try HTML5 geolocation.
          try{
            {{report["coordinates"][0]}};
            {{report["coordinates"][1]}};
          }catch(error){
            console.log("Invalid input coordinates")
          }
          
          if ({{report["coordinates"][0]}} && {{report["coordinates"][1]}}) {
              var pos = {
                lat: {{report["coordinates"][0]}},
                lng: {{report["coordinates"][1]}}
              };
  
              infoWindow.setPosition(pos);
              let placeName = "{{report["placeName"]}}"
              if(placeName === "" || placeName === null){
                  placeName = "position found";
              }
              infoWindow.setContent(placeName);
              infoWindow.open(map);
              map.setCenter(pos);
            }
        }
      </script>
{% endblock %}
