{% extends 'base.html' %}

{% block head %}
    <title>Show report list under specific tag - Explorexas</title>
    <style>
        .center-in-center{
            color: #3a6b95;
            background-color:#3a6b95;
            margin: 0 auto 50px;
            width: 90%;
            opacity:1;
            border: 1px solid #3a6b95;
            border-radius: 4px;
            padding: 10px 50px 30px;
            overflow: hidden;
            text-decoration: none;
            text-indent: 0;
            line-height: 15px;
        }
        .report-container{
            margin: 30px 10px;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="center-in-center">
        <h1 style="font-size:40px;color:white"> {{ categoryName }} </h1>
        {% for reportContent in reportContentList %}
        <hr>
        <div class="report-container">
            <div>
                <a href="{{url_for('report', reportId=reportContent["reportId"])}}"><h2 style="color:Black" align="right">{{ reportContent["title"] }}</h2></a>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="{{url_for('image', imgId=reportContent["imgId"])}}" alt="{{reportContent["placeName"]}}" style="height:180px;width:200px">
                    <div > 
                        <span class="badge badge-pill badge-primary" style="margin-top:10px"># {{reportContent["tag"]}}</span>
                    </div>
                </div>
                <div class="col-8">
                    <ul class="list-group list-group-flush" style="color:Black" align="left">
                        <li class="list-group-item">User: {{ reportContent["userName"] }}</li>
                        <li class="list-group-item">Category: {{ reportContent["categoryName"] }}</li>
                        <li class="list-group-item">Review: {{ reportContent["review"] }}</li>
                        <li class="list-group-item">
                        Rating: {{reportContent["rating"]}}.0 / 5.0
                        </li>
                        <li class="list-group-item">Place: {{ reportContent["placeName"] }}</li>
                        <li class="list-group-item">Time: {{ reportContent["timeStamp"].strftime("%Y-%m-%d %H:%M:%S") }}</li>
                    </ul>
                </div>
            </div> 
        </div>
        {% endfor %}
    </div>
{% endblock %}
